body {
    background-image: linear-gradient(to bottom, #004500, #008700);
    color: antiquewhite;
}

.modal {
    color: black;
}

.banner-text {
    font-family: 'Times New Roman', Times, serif;
}

.banner-text>h1 {
    margin: 0;
}

a,
a:visited {
    color: antiquewhite;
}

a:hover {
    color: darkgray;
}

:root {
    --animate-duration: 500ms;
}