body {
    background-image: linear-gradient(to bottom, #004500, #008700);
    color: antiquewhite;
}

.page {
    overflow: hidden;
}

.modal {
    color: black;
}

.banner-text {
    font-family: 'Times New Roman', Times, serif;
}

.banner-text>h1 {
    margin: 0;
}

a,
a:visited {
    color: antiquewhite;
}

a:hover {
    color: darkgray;
}

:root {
    --animate-duration: 500ms;
}

.control-container > {
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-container > img {
    max-height: 100%;
    height: auto;
    position: relative;
    transition: 0.5s ease;
}

.card-container {
    overflow: hidden;
    max-width: 100%;
    --animate-duration: 250ms;
}

.control-container > button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}